body{
    background-color: aqua;
}

#game{
    min-width: 500px;
}

img {
    height: 150px;
}

.row {
    width: 100%;
}

#dealer {
    width: 500px;
    margin: 20px auto;
}

div h3{
    /* width: 100px;
    margin: 0 auto; */
    text-align: center;
}

/* #dealer div{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
} */

.cardPlaceHolder {
    width: 100px;
    margin: 0 auto;
    border: 1px dashed green;
    height: 150px;
   
    /* display: inline-block;
    float: left; */
}

/* #dealerHand {
    margin: 20px 50% 20px 50%;
    width: 200px;
    margin: 15px auto;
} */

/* #dealerHand img {
    display: inline-block;
} */

#actionBar {
    margin: 20px auto;
    width: 120px;
}

/* #dealerHand {
    margin: 0 auto;
} */

/* img {
    display: inline;
} */

/* #dealer{
    margin: auto;
}

.cardPlaceHolder {
    margin: 0 50% 0 50%;
} */

/* #player1Hand {
    margin: 20px 75% 20px 25%;
    align-content: center;
} 

#player2Hand {
    margin: 20px 25% 20px 75%;
  
} */


