body{
   background: url("../images/hack_back.gif"); 
   background-size: cover;
}

#game{
    min-width: 500px;
}

p {
    font-family: 'Slabo 27px', serif;
}

strong {
    font-size: 20px;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 75px;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Nanum Brush Script', cursive;
    color: red;
    margin-top: 5px;
    font-size: 55px;
}

h3 {
    font-family: 'Acme', sans-serif;
    color: white;
    /* margin-top: 10px; */
}

h4 {
    margin-top: 20px;
}

#opener {
    color: antiquewhite;
    text-align: center;
    width: 500px;
}

img {
    height: 150px;
}

.row {
    width: 100%;
}

#dealer {
    width: 500px;
    height: 200px;
    margin: 20px auto;
}

#playaz {
    height: 200px;
}

div h3{
    /* width: 100px;
    margin: 0 auto; */
    /* text-align: center; */
}

.cardPlaceHolder {
    width: 100px;
    margin: 0 auto;
    /* border: 1px dashed green; */
    height: 150px;
   
    /* display: inline-block;
    float: left; */
}

#actionBar {
    margin: 20px auto;
    width: 300px;
}

audio {
    float: right;
}
