body{
   background: url(/Users/Ella/Desktop/wdi-56/w3/blackjack/casino-project-wdi-w3/images/hack_back.gif); 
   background-size: cover;
}

#game{
    min-width: 500px;
}

img {
    height: 150px;
}

.row {
    width: 100%;
}

#dealer {
    width: 500px;
    height: 200px;
    margin: 20px auto;
}

#playaz {
    height: 200px;
}

div h3{
    /* width: 100px;
    margin: 0 auto; */
    /* text-align: center; */
}

.cardPlaceHolder {
    width: 100px;
    margin: 0 auto;
    /* border: 1px dashed green; */
    height: 150px;
   
    /* display: inline-block;
    float: left; */
}

#actionBar {
    margin: 20px auto;
    width: 300px;
}

